<p id="notice"><%= notice %></p>

<table class="table table-bordered">
	<tr>
		<td class="certificate_table_caption">Name</td>
		<td class="show_data"><%= @service_center.name %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_service_center_path(@service_center) %> |
<%= link_to 'Back', service_centers_path %>
