<% unless flash[:no_maker_error].blank? %>
<div id="error_explanation">
	<h2><%= flash[:no_maker_error] %></h2>
</div>
<% end %>
<h1>New maker</h1>

<%= render 'form' %>

<%= link_to 'Back', makers_path %>
